@model MangaWorld_Client.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/resources/css/user_style.css" rel="stylesheet" />

<div class="container user-body">
    <h1>Register</h1>
    <hr />
    <form method="post" action="@Url.Action("RegisterResult", "Users")" autocomplete="off">
        <b class="text-danger">@TempData["RegisterResult"]</b>
        <br />
        <b>Username</b>
        <input type="text" name="username" class="search-control" />
        <br />
        <b>Password</b>
        <input type="password" name="password" class="search-control" />
        <br />
        <br />
        <input type="reset" class="search-control search-btn" value="RESET" />
        <input type="submit" class="search-control search-btn" value="REGISTER" />
        <br />
    </form>
</div>
