user-body {
    text-align: center;
}

.user-detail-head {
    text-align: initial;
    border-bottom: 2px solid #302c2c;
    margin: 10px auto 30px auto;
    padding: 10px;
    display: flex;
}

.user-detail-head-left, user-detail-head-right {
    display: inline-block;
}

.user-detail-head-left {
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}

.user-detail-head-left .fa{
    font-size: 50px;
}

#user-book-sort-opt {
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    color: var(--txt);
    border: 2px solid var(--mainCol);
    margin-right: 7px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
    font-weight: bolder;
}

.user-detail-manga {
    text-align: initial;
    width: 90%;
    padding: 8px;
    margin: 10px auto 10px auto;
    border-left: 2px solid var(--mainCol);
    border-radius: 8px;
    transition: 0.5s;
    background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
}

    .user-detail-manga:hover {
        filter: contrast(65%);
    }

.user-detail-manga-cover, .user-detail-manga-content {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.user-detail-manga-pub-area {
    float: right;
}

.user-detail-manga-content {
    text-align: left;
    width: 80%;
}

.user-detail-manga-art {
    float: left;
    height: 140px;
    aspect-ratio: 3/4;
}

.user-detail-manga-title {
    text-overflow: ellipsis;
    font-size: 16px;
}

.user-detail-lang-flag {
    aspect-ratio: 4/2.5;
    width: 20px;
}

.user-detail-manga-stat {
    color: var(--mainCol);
    font-size: 17px;
}

    .user-detail-manga-stat span {
        color: var(--txt);
    }

.user-detail-manga-genre {
    display: inline-block;
    padding: 5px;
    color: var(--txt);
    font-size: 12px;
    border-radius: 7px;
    margin: 2px;
}

.user-report-content{
    min-width: 550px;
    min-height: 150px;
    max-height: 250px;
    max-width: 100%;
}