:root {
    --bg-r: 30;
    --bg-g: 30;
    --bg-b: 30;
    --txt: #ffffff;
    --txtCounter: #000000;
    --offset1: 15;
    --offset2: 50;
    --mainCol: #8D24A9;
}

* {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    font-family: /*Spartan,sans-serif;*/ Poppins,sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--mainCol);
}

.change-theme {
    --bg-r: 235;
    --bg-g: 235;
    --bg-b: 235;
    --txt: #000000;
    --txtCounter: #ffffff;
}

.fixed {
    position: fixed;
    width: 100%;
}

.flag-VN {
    content: url("/resources/picture/VN.png");
}

.flag-EN {
    content: url("/resources/picture/EN.png");
}

.flag-CN {
    content: url("/resources/picture/CN.png");
}

.genre-level-1 {
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

.genre-level-2 {
    background-color: #eb5a00;
}

.genre-level-3 {
    background-color: #fc033d;
}

.status-GO {
    color: green;
}

.status-COMP {
    color: cornflowerblue;
}

.status-HIA {
    color: darkorange;
}

.status-CANC {
    color: red;
}

.comic-page-size-adj {
    object-fit: cover;
}

.search-control {
    border: 2px solid var(--mainCol);
    color: var(--txt);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    transition: 0.5s;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)));
}

.search-btn {
    background-color: var(--mainCol);
    font-weight: bolder;
    font-size: 17px;
    width: 150px;
    margin-bottom: 20px;
    transition: 0.2s;
}

    .search-btn:active {
        background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)));
    }

img{
    border-radius: 6px;
}

body {
    background-color: rgb(var(--bg-r), var(--bg-g), var(--bg-b));
    color: var(--txt);
    transition: background-color .5s;
}

.nav-side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.main-content {
    transition: margin-left .5s;
}

.top-nav {
    display: flex;
    margin: 5px auto 5px auto;
    justify-content: center;
    align-items: center;
}

.layout-head {
    height: 65px;
    z-index: 2;
    background-color: rgb(var(--bg-r), var(--bg-g), var(--bg-b));
    border-bottom: 2px solid var(--mainCol);
    transition: background-color .5s;
    margin-bottom: 10px;
}

.home-logo {
    padding: 3px;
    border-radius: 15px;
    color: var(--txt);
    text-decoration: none;
    font-size: 35px;
    font-family: cursive;
    transition: background-color .5s;
    

}

    .home-logo:hover {
        text-decoration: none;
        color: var(--txt);
        background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
    }

#nav-side-toggler {
    border: 2px solid rgb(var(--bg-r), var(--bg-g), var(--bg-b));
    padding: 8px;
    border-radius: 15px;
    font-size: 25px;
    transition: background-color .5s, border .5s;
}

    #nav-side-toggler:hover {
        background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
        border: 2px solid var(--mainCol);
    }

.nav-search form{
    margin-top: 5px;
}

.nav-search .fa {
    font-size: 20px;
}

.search-txt {
    margin-left: 10px;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    height: 70%;
    border-radius: 15px;
    width: 60%;
    border: 2px solid var(--mainCol);
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    transition: width .3s ease-out, border .5s
}

    .search-txt:focus {
        width: 90%;
    }

.layout-user-area {
    text-align: left;
}

.user-menu, .layout-user-acc {
    text-align: left;
    display: inline-block;
}

.layout-user-acc {
    font-size: 20px;
    font-weight: bolder;
}

.user-menu {
    display: inline-block;
    text-decoration: none;
    color: var(--txt);
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
    transition: background-color .5s;
}

    .user-menu:hover {
        text-decoration: none;
        color: var(--txt);
        background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
    }

.side-nav-content {
    text-decoration: none;
    color: var(--txt);
    padding: 10px;
    border-radius: 15px;
    transition: background-color .5s;
    font-weight: 600;
    font-size: 17px;
}

    .side-nav-content:hover {
        text-decoration: none;
        color: var(--txt);
        background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
    }

.nav-side-bar ul {
    list-style-type: none;
}

.nav-side-bar li{
    margin: 20px auto 20px auto;
}

.side-nav-titles {
    font-size: 18px;
    border-bottom: 4px solid var(--mainCol);
}

.side-nav-opt {
    font-weight: 600;
    padding: 5px;
    border-radius: 20px;
    width: 20%;
    font-size: 17px;
    transition: background-color .5s;
}

    .side-nav-opt:hover {
        background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
    }