.manga-head {
    height: 300px;
    margin-bottom: 10px;
}

.manga-head col-md-3, .manga-head col-md-9 {
        display: inline-block;
        height: 100%;
    }

.manga-titles-area {
    height: 70%;
}

.manga-stats-area {
    height: 15%;
}

.manga-cover-area {
    height: 100%;
    text-align: center;
}

.manga-cover-img {
    max-height: 100%;
    vertical-align: middle;
    aspect-ratio: 3/4;
}

.manga-lang-flag {
    aspect-ratio: 4/2.5;
    width: 50px;
}

.manga-title {
    font-size: 50px;
    font-weight: bolder;
    padding: 0;
    line-height: 1em;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin-bottom: 0;
}

.manga-alt-title {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
}

.manga-genre-area div {
    display: inline-block;
    height: 40px;
}

.manga-genre {
    color: var(--txt);
    border-radius: 8px;
    padding: 8px;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5s;
}

    .manga-genre:hover {
        color: var(--txt);
        text-decoration: none;
        background-color: var(--mainCol);
    }

.manga-stat-item {
    color: var(--mainCol);
    font-size: 18px;
}

.manga-stats-area b{
    font-size: 16px;
}

.stat-rating {
    font-size: 18px;
    color: var(--txt);
    text-decoration: none;
}

.rating-detail-tooltip {
    z-index: 1;
    position: absolute;
    opacity: 0;
    text-align: center;
    padding: 7px 20px 0 20px;
    align-content: center;
    border-radius: 10px;
    transition: 0.5s;
    bottom: 50%;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

.rating-detail-tooltip ul {
        list-style-type: none;
    }

.rating-detail-tooltip hr{
    padding: 0;
    margin: 0;
}

    .stat-rating:hover .rating-detail-tooltip {
        visibility: visible;
        opacity: 1;
    }

.manga-pub-status{
    font-size: 15px;
}

.manga-content{
    margin-top: 10px;
}

.manga-summary-area {
    overflow-y: scroll;
    border-radius: 15px;
    height: 120px;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

.manga-summary-area p{
    font-size: 15px;
    padding: 20px;
    color: var(--txt);
    margin: 0;
}

.manga-content-area{
    max-height: 870px;
    margin-top: 20px;
}

.manga-detail-header {
    font-weight: bolder;
    font-size: 18px;
}

.manga-detail-item {
    color: var(--txt);
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
    transition: 0.5s;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

    .manga-detail-item:hover {
        color: var(--txt);
        text-decoration: none;
        background-color: var(--mainCol);
    }

.manga-chapter-item {
    min-height: 60px;
    border: 2px solid rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    border-left: 2px solid var(--mainCol);
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

    .manga-chapter-item:hover {
        background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
    }

    .manga-chapter-item:active {
        border: 2px solid var(--mainCol);
    }

.manga-chapter-item-left, .manga-chapter-item-right {
    display: inline-block;
}

.manga-chapter-item-left {
    float: left;
    text-align: left;
    border-top: none;
    -webkit-appearance: none;
}

.manga-chapter-item-left b{
    color: var(--txt);
    text-decoration: none;
    font-weight: bolder;
    transition: 0.3s;
}

.manga-chapter-item-right {
    float: right;
}

.manga-chapter-item-right a{
    transition: 0.5s;
    color: var(--mainCol);
    font-weight: bold;
}

    .manga-chapter-item-right a:hover {
        color: var(--txt);
    }

.pagination b {
    color: var(--txt);
}

.chapter-sort {
    color: var(--txt);
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 20px;
    transition: 0.2s;
    border: 2px solid rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

    .chapter-sort:hover {
        filter: contrast(65%);
    }

    .chapter-sort:active{
        border: 2px solid var(--mainCol);
    }

.manga-opt {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #302c2c;
    border-top: 2px solid #302c2c;
}

.manga-opt-item {
    color: var(--txt);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--mainCol);
    border: 2px solid var(--mainCol);
    transition: 0.2s;
    font-weight: bolder;
    margin-right: 5px;
}

    .manga-opt-item:hover {
        filter: contrast(65%);
    }

    .manga-opt-item:active {
        background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    }

#manga-rate-btn {
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

    #manga-rate-btn i {
        font-size: 18px;
        padding-right: 5px;
        padding-left: 5px;
    }

    #manga-rate-btn:active {
        background-color: var(--mainCol);
    }

#rate-modal {
    display: none;
    z-index: 1;
    margin: auto;
    padding-top: 250px;
    width: 30%;
    overflow: auto;
}

.modal-header{
    padding:0;
}

.modal-content {
    border-radius: 23px;
    position: relative;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    margin: auto;
    padding: 0;
    border: 2px solid var(--mainCol);
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.rate-close-btn {
    width: 40px;
    color: var(--txt);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.rate-close-btn:hover, .rate-close-btn:focus {
    filter: opacity(65%);
    text-decoration: none;
    cursor: pointer;
}

.toggle-rating {
    display: block;
}

.rate-value{
    font-size: 25px;
    color: var(--mainCol);
    margin-top: 20px;
}

.rate-text{
    color: var(--txt);
}

#rating-input {
    -webkit-appearance: none;
    -webkit-transition: .2s;
    outline: none;
    border-radius: 10px;
    background: rgb(var(--bg-r), var(--bg-g), var(--bg-b));
}

#rating-input::-moz-range-thumb {
    border-radius: 30px;
    width: 25px;
    background: var(--mainCol);
    height: 25px;
    cursor: pointer;
}

#rating-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 30px;
    width: 25px;
    background: var(--mainCol);
    height: 25px;
    cursor: pointer;
}

.rate-submit-btn{
    font-weight: bold;
    background-color: var(--mainCol);
    border-radius: 10px;
    padding: 5px;
    color: var(--txt);
    border: 2px solid var(--mainCol);
    transition: 0.2s;
}

    .rate-submit-btn:active {
        background: rgb(var(--bg-r), var(--bg-g), var(--bg-b));
    }

.enable-comment-btn {
    float: right;
    color: var(--txt);
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    border-radius: 10px;
    font-weight: bold;
    padding: 17px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: 0.2s;
    border: 2px solid rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

    .enable-comment-btn:hover {
        filter: contrast(65%);
    }

    .enable-comment-btn:active {
        border: 2px solid var(--mainCol);
    }

.manga-comment-item {
    min-height: 60px;
    border-left: 2px solid var(--mainCol);
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

.manga-comment-item hr{
    margin: 5px auto 8px auto;
    border-color: #302c2c;
}

.comment-date{
    float: right;
    font-style: italic;
}

.manga-comment-content {    
    font-size: 15px;
}

#commentContent {
    -webkit-appearance: none;
    background-color: rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
    width: 100%;
    min-height: 40px;
    font-weight: bold;
    border: 2px solid rgb( calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)), calc(var(--bg-r) - var(--offset1)) );
}

.del-comment:hover{
    filter: contrast(65%);
}