.pop-content{
    border: 5px dashed var(--mainCol);
    border-radius: 30px;
    padding: 20px;
    margin: 20px
}

.pop-content h1 {
    border-bottom: 2px solid #302c2c;
    font-style: italic;
}

.pop-manga {
    text-align: initial;
    width: 90%;
    padding: 8px;
    margin: 10px auto 10px auto;
    border-left: 2px solid var(--mainCol);
    border-radius: 8px;
    transition: 0.5s;
    background-color: rgb( calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)), calc(var(--bg-r) - var(--offset2)) );
}

    .pop-manga:hover {
        filter: contrast(65%);
    }

.pop-manga-cover, .pop-manga-content {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.pop-manga-pub-area {
    float: right;
}

.pop-manga-content {
    text-align: left;
    width: 80%;
}

.pop-manga-art {
    float: left;
    height: 140px;
    aspect-ratio: 3/4;
}

.pop-manga-title {
    text-overflow: ellipsis;
    font-size: 16px;
}

.pop-lang-flag {
    aspect-ratio: 4/2.5;
    width: 20px;
}

.pop-manga-stat {
    color: var(--mainCol);
    font-size: 17px;
}

    .pop-manga-stat span {
        color: var(--txt);
    }

.pop-manga-genre {
    display: inline-block;
    padding: 5px;
    color: var(--txt);
    font-size: 12px;
    border-radius: 7px;
    margin: 2px;
}